.album-page__holder {
    /* background-image: linear-gradient(to bottom, #7CBDC9, white); */
    background-color: #F8F8F8;
    display:flex;
    /* flex-direction: column; */
    height: 100vh;
}

.album-page {
    width: 1000px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    padding: 50px 30px;
    /* background-image: linear-gradient(to top, #7CBDC9, white); */
    background-color: white;
}

.album-page h3 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}

.album-page__header-holder {
    width: 400px;
    /* border-bottom: 1px solid gray; */
}

.album-page__header {
    font-weight:400;
}

.album-page__content-holder {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.album-page__left-content {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.album-page__left-content .artist-name-holder{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.album-page__left-content .album-header {
    height: 150px;
}

.album-page__left-content .audio-player-holder {
    margin-bottom: 15px;
}

.album-page__left-content .track-holder {
    height: 30px;
    font-weight: bold;
    font-size: 14px;
}

.album-page__left-content .track {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: bold;
}

.album-page__left-content .track:hover {
    text-decoration: underline;
}

/* .album-page__left-content .track-holder {
    background-color: tomato;
    height: 100px;
} */

.album-page__middle-content {
    width: 360px;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    /* padding-left: 55px; */
    padding-top: 25px;
}

.album-page__middle-content .album-cover-holder {
    width: 360px;
    height: 360px;
    /* margin: 0 auto; */
}

.album-cover {
    object-fit: cover;
    width: 360px;
    height: 360px;
}
.album-page__middle-content .description {
    height: 300px;
    padding: 15px 0;
    font-weight: 500;
    font-size: 14px;
    /* margin: 0 auto; */
}

.album-page__right-content {
   width: 120px;
   display: flex;
   flex-direction: column;
   padding-top: 25px;
}


.album-page__right-content .artist-photo {
    object-fit: cover;
    width: 120px;
    height: 130px;
    margin-bottom: 4px;
    background-color: black;
}

.album-page__right-content .artist-name {
    font-size: 14px;
    font-weight: bold;
}

.album-page__right-content .follow-btn {
    width: 120px;
    height: 30px;
    margin: 10px 0 10px 0;
}

.album-page__right-content .bio{
    height: 300px;
    font-size: 13px;
    font-weight: 500;
}


/* ============================================================================================ */

.discography {
    flex-grow: 1;
    /* background-color: aquamarine; */
}

.discography__intro {
    font-size: 13px;
    margin-bottom: 20px;
}

.discography__header-holder {
    display: flex;
    /* border-bottom: 1px dashed lightgray; */
}

.discography__add-btn {
    /* border: 1px solid black; */
    border: none;
    border-radius: 3px;
    font-size: 11px;
    color: white;
    /* line-height: 8px; */
    font-weight: normal;
    height: 18px;
    padding: 0 8px 3px 8px;
    margin-left: 15px;
    background-color: #41A0C3;
    cursor: pointer;
}

.discography h3 {
    /* font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px; */
}

.album {
    
}

.albums__holder {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 90px 0 0;
    /* background-color: #3187F5; */
}

.album__placeholder {
    width: 150px;
    height: 150px;
    background-color: #F8F8F8;
    border: 2px dashed lightgray;
    margin: 0 13px 13px 0;
}

.artist-info__holder {
    /* background-color: chocolate; */
    width: 120px;
    display: flex;
    flex-direction: column;
    padding-top: 38px;
}

.artist-info__holder button {
    color: #3187F5;
    font-weight: bold;
    font-size: 13px;
    background-color: transparent;
    cursor: pointer;
}

.artist-info__holder button:hover {
    background-color: #F3F3F3;
}

.artist-info__photo {
    object-fit: cover;
    width: 100%;
    height: 120px;
    margin-bottom: 6px;
}

.artist-info__photo-placeholder {
    width: 120px;
    height: 120px;
    border: 1px dashed lightgray;
    background-color: red;
    margin-bottom: 6px;
}

/* .artist-info__photo-placeholder:hover {
    border-bottom: 1px solid  #3187F5;
} */

.artist-info__name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.artist-info__add-bio-btn {
    width: 85px;
    border: none;
}

/* .artist-info__add-bio-btn:hover {
    border-bottom: 1px solid  #3187F5;
} */

.followers__holder {
    display: flex;
    flex-direction: row;
}

.follower__placeholder {
    width: 100px;
    height: 100px;
    background-color: #F8F8F8;
    border: 1px dashed lightgray;
    margin: 0 13px 13px 0;
}